
PUSH 1
STORE index
LOAD index

LANDING 3
IF_LESS_THAN 16
JUMP 1

LOAD index
PUSH 3
MOD
IF_EQUAL 0
JUMP 2

PUSH 400
PRINT

LOAD index
PUSH 1
ADD
STORE index
LOAD index
JUMP 3

LANDING 2
LOAD index
PRINT

PUSH 1
ADD
STORE index
LOAD index
JUMP 3


LANDING 1
EXIT


