
PUSH 1
STORE index
LOAD index



LANDING 3
IF_LESS_THAN 16
JUMP 1

LOAD index
PUSH 3
MOD
IF_EQUAL 0
JUMP 5

PUSH 400
PRINT
POP
JUMP 6


LANDING 5
LOAD index
PUSH 5
MOD
IF_EQUAL 0
JUMP 2

PUSH 500
PRINT
POP
JUMP 4




LANDING 6

LOAD index
PUSH 5
MOD
IF_EQUAL 0
JUMP 4

PUSH 500
PRINT
POP
JUMP 4



LANDING 2
LOAD index
PRINT
POP


LANDING 4
LOAD index
PUSH 1
ADD
STORE index
LOAD index
JUMP 3


LANDING 1
EXIT